.form {
    margin-top: 5rem;
    padding: 24px;
}

#standard-textarea, #standard-search {
    font-size: 28px;
}

.form button {
    font-size: 20px;
}

.status-select-container {
    width: 350px;
}

@media only screen and (max-width: 400px) {
    .status-select-container {
        width: 300px;
    }
}

@media only screen and (max-width: 350px) {
    .status-select-container {
        width: 250px;
    }
}

@media only screen and (max-width: 290px) {
    .status-select-container {
        width: 200px;
    }
}